header {
    background-color: #1F2937;
    font: 24px Roboto, sans-serif;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

a, p {
    font: 18px Roboto, sans-serif;
    color: #E5E7EB;
}

header a {
    margin: 0 3px;
}

/* Select first element only */
header .wrapper a:nth-child(-n + 1) {
    margin-left: 0;
}

/* Select last element only */
header .wrapper a:nth-last-child(-n + 1) {
    margin-right: 0;
}

.hero-text {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 1em 6rem 6em;
}

.hero-text .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-text h2 {
    font: 800 48px Roboto, sans-serif;
    color: #F9FAF8;
    margin: 0 auto;
}

.hero-text p {
    margin: 0 auto;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 40px;
    border-radius: 10px;
    min-width: 100px;
    min-height: 35px;
}

.hero-text button {
    margin: 1em auto 0 0;
}


.information {

}

.quote {

}

.call-to-action button {
    border-color: #E5E7EB;
}

img {
    width: 200px;
    height: 200px;
}